html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #FFC0CB;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(2%#FFC0CB),color-stop(108%,#FFf3f5));
    background-image: linear-gradient(#FFC0CB 2%,#FFf3f5 108%);
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
    font-family: 'Domine', sans-serif;
}

.logo {
    width: 120px;
}

a, a.featured {    
    &:hover {
        background-color: #FFC0CB;
        color: #ffffff;
    }
}

a {
    display: block;
    max-width: 400px;
    margin: 0 auto 15px auto;
    padding: 15px 20px;
    font-size: 0.85rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    
    &.featured {
        position: relative;
        background-color: #ffffff;
        color: #FFC0CB;
        font-weight: bold;

        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;            
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            border: 2px solid #FFC0CB;
        }
    }
}
h1 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: 'Domine', sans-serif;
    color: #D4af37;
    text-shadow: 2px 2px 8px white;
    padding-bottom: 15px;

}
h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: 'Domine', sans-serif;
    color: #D4af37;
    text-shadow: 2px 2px 8px white;
}

.channels {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 10px;
    
    a {
        flex: 1;
        padding: 5px 10px;
        margin-right: 10px;
        background-color: #FFC0CB;
        border: none;
        margin-top: 10px;

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}